.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 5%;
}

.intro > * {
  width: 50%;
}

.graphContainer {
  display: flex;
}

.graphContainer button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.images-container img {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 600px) {
  .intro {
    flex-direction: column;
  }
  .intro > * {
    width: 100%;
    padding: 2rem;
  }
  .images-container img {
    width: 100%;
  }
}
